@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.footer-form {
  width: 750px;

  @include xl {
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: $font-family;

    .input-field {
      position: relative;
      margin-bottom: 30px; // Увеличьте отступ для лучшего размещения

      .text-counter {
        color: var(--Neutral-04, #939192);
        text-align: right;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        position: absolute;
        right: 18px;
        bottom: 18px;
      }

      .error-message {
        color: #d9534f; // Красный цвет для сообщений об ошибке
        font-size: 14px;
        margin-top: 5px;
      }
    }

    input,
    textarea {
      width: 100%;
      padding: 20px 12px;
      border-radius: 4px;
      outline: none;
      background: $primary-10;
      color: $primary-03;
      transition: border-color 0.2s, background-color 0.2s;

      @include md {
        font-size: 18px;
        padding: 18px 12px;
      }

      @include sm {
        font-size: 16px;
        padding: 16px 12px;
      }

      @include xs {
        font-size: 14px;
        padding: 14px 12px;
      }
    }

    input {
      height: 50px;
      border: 2px solid rgba(255, 255, 255, 0.18);
      font-size: 20px;

      &:focus {
        border-color: $secondary-01;
        background-color: $primary-10;
      }

      &:focus ~ label,
      &:valid ~ label {
        top: -20px;
        left: 12px;
        color: $primary-10;
        font-size: 16px;
      }
    }

    textarea {
      height: 170px;
      border: 2px solid rgba(255, 255, 255, 0.18);
      resize: vertical;

      &:focus {
        outline-color: $secondary-01;
        background-color: $primary-10;
      }

      &:focus ~ label,
      &:valid ~ label {
        top: -20px;
        left: 12px;
        color: $primary-10;
        font-size: 16px;
      }
    }

    label {
      position: absolute;
      top: 15px;
      left: 18px;
      color: $primary-03;
      font-size: 20px;
      pointer-events: none;
      transition: top 0.2s, font-size 0.2s, color 0.2s;
    }

    &-warning {
      color: $primary-10;
      font-weight: 400;
      font-size: 18px;
      margin-top: -30px;

      @include lg {
        text-align: center;
        align-self: center;
      }

      @include md {
        font-size: 14px;
      }

      @include xs {
        font-size: 12px;
      }
    }

    .form-button {
      align-self: flex-start;
      cursor: pointer;
      font-size: 24px;
      background-color: $secondary-01;
      color: $primary-10;
      border: none;
      border-radius: 4px;
      padding: 18px 24px;
      display: flex;
      align-items: center;
      transition: background-color 0.3s, cursor 0.3s;

      &:hover {
        background-color: lighten($secondary-01, 10%);
      }

      &:disabled {
        background-color: #d1d1d1;
        color: #ffffff;
        cursor: not-allowed;
      }

      @include lg {
        align-self: center;
        font-size: 22px;
        padding: 18px 24px;
        margin-top: -25px;
      }

      @include md {
        padding: 15px 20px;
        font-size: 20px;
      }

      @include sm {
        padding: 10px 14px;
        font-size: 16px;
      }

      @include xs {
        font-size: 14px;
      }

      &-arrow {
        width: 28px;
        height: 28px;
        transform: rotate(-45deg);

        @include xxl {
          width: 24px;
          height: 24px;
        }

        @include xl {
          width: 20px;
          height: 20px;
        }

        @include md {
          display: none;
        }
      }
    }
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
